{% extends "base.html" %}

{% block math %}
  {% if page.extra.math %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% endif %}
{% endblock math %}

{% block title %}
  <title>{{ page.title }} | {{ config.title }}</title>
{% endblock title %}

{% block content %}
  <h2 class="title">{{ page.title }}</h2>
  <p class="date"><strong>{{ page.date }}</strong></p>
  {{ page.content | safe }}
{% endblock content %}
