{% extends "base.html" %}

{% block title %}
  <title>{{ section.title }} | {{ config.title }}</title>
{% endblock title %}

{% block content %}
  <!-- <h2 class="title">Blog</h2> -->
  <h2>Work in progress...</h2>
  <ul class="blog" style="list-style-type: none;">
  {% set section = get_section(path="blog/_index.md") %}
  {% for page in section.pages %}
    <li>
      <span class="date">{{ page.date }} | </span>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
  {% endfor %}
{% endblock content %}
