{% extends "base.html" %}

{% block content %}

<p>Welcome!</p>
<p>My name is Lorenzo and I'm a CS student. My primary interests are programming languages, compiler construction, and theoretical computer science. I like sunny days.</p>
<p>Elsewhere: <a href=https://github.com/0xHaru>GitHub</a>, <a href=https://twitter.com/0xHaru_>Twitter</a></p>
<p>This website is <a href=https://github.com/0xHaru/0xharu.github.io/>open source</a>, and it's my (small) effort to promote a minimal and decentralized web.</p>
{% endblock content %}
